<div class="container-general">
  <h3 class="container-title">Mes Themes Favoris</h3>
  <% @favorites.where(favoritable_type: "Theme").each do |favorite| %>
    <div class="theme border-grey">
      <div class="theme_image">
               <img src="
         <% if (favorite.favoritable.picture.attached?) %>
            <%= cl_image_path(favorite.favoritable.picture.key) %>
          <% else %>
            <%= image_path('frontlorem.jpg') %>
          <% end %>
            "/>
      </div>
      <div class="theme_title">
        <h4><%= favorite.favoritable.title %></h4>
        <p><%= truncate(favorite.favoritable.description, :length => 40) %></p>
        <%# <%= link_to("+Favoris",favorite_path(favorite.id), method: :delete, class:"white-azure") %>
        <%# <%= link_to("Les articles", theme_articles_path(favorite.favoritable), class:"white-azure") %>
      </div>
    </div>
  <% end %>
</div>
