<% if @theme %>
  <%= @theme.title %>
  <br>
  <%= @theme.description %>
<% end %>


<% @articles.each do |article| %>
  <h2><%= article.title %> - <%= article.description %></h2>
  <%= article.content %>
<% end %>
