<div class="container-general">
  <div>
    <% if @theme %>
    <h1 class="container-title"><%= @theme.title %></h1>
    <p><%= @theme.description %></p>
  <% end %>
  </div>

  <%= link_to("Créer un article", new_article_path) %>
  <div class="mt-3">
    <% @articles.each do |article| %>
      <%= link_to article_path(article) do %>
        <div class="card text-white  mb-3 container-general purple text-decoration-none" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">
              <%= article.title %>
            </h5>
            <p class="card-text"><%= article.description %></p>
          </div>
        </div>
        <%= link_to "+Favori Article",  create_fav_art_path(article.id), method: :post  %>
        <%= link_to "+Favori User",  create_fav_user_path(article.id), method: :post  %>
      <% end %>
    <% end %>
  </div>
</div>
