<div class="photo-container" style="background-image: url('<%= @article.picture.attached? ? cl_image_path(@article.picture.key) : 'https://images.unsplash.com/photo-1543932927-a9def13a0e7c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y291cGxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60' %>'">
</div>

<div class="container-smaller" id="articles-show">
  <div class="header-content">
    <h2 class="title-main"><%= @article.title %></h2>
    <div class="container-icons">
      <div class="image-avatar">
        <a href=<%= profiles_path(@article.user) %>>
        <% if @article.user.picture.attached? %>
          <%=  cl_image_tag @article.user.picture.key, height: 50, width: 50, class: "user-img-circle" %>
          <% else %>
          <%= image_tag('avatar.png', class: "avatar-mini") %>
        <% end %>
        </a>
        <div class="plus-icon">
          <%= link_to create_fav_user_path(@article.id), method: :post do %>
            <% if current_user.favorites.find_by(favoritable: @article.user)%>
             <i class="fas fa-minus-circle"></i>
            <% else %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#902CB8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="username-title">
        <%= @article.user.username %>
      </div>
      <div class="sub-container-icons">
        <%= link_to(article_votes_path(@article, reaction: 1), method: :post)  do %>
          <% if (@current_user.votes.find_by(article: @article))%>
            <i class="fas fa-heart"></i>
          <% else %>
            <i class="far fa-heart"></i>
          <% end %>
        <% end %>

        <%= link_to(create_fav_art_path(@article.id), method: :post) do %>
          <% if @current_user.favorites.find_by(favoritable: @article)%>
            <i class="fas fa-bookmark"></i>
          <% else %>
            <i class="far fa-bookmark"></i>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

  <h2 class="title-h2"><%= @article.description %></h2>
  <p class="article-content"><%= @article.content %></p>

  <% if policy(@article).destroy? %>
    <%= link_to("delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }) %>
  <% end %>
  <ul class="list-group">
    <div>
      <% @comments.each do |comment| %>
        <div class="border-comment">
          <div class="text-comment" id="<%= comment.id%>">
            <%= comment.content %>
          </div>
          <div>
            <ul><%= comment.created_at.to_datetime.strftime("Publié le %m/%d/%Y") %> par <%= comment.user.username %>
              <% if policy(comment).destroy? %>
                <%= link_to("supprimer", article_comment_path(@article, comment), method: :delete, data: { confirm: "Are you sure?" }) %>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </ul>



  <%= simple_form_for [ @article, @comment ] do |f| %>
    <%= f.input :content, :label => 'Votre commentaire' %>
    <%= f.submit "Commenter", class: "btn purple white" %>
  <% end %>

</div>
