<div class="container-general" id="articles-show">
  <h1 class="container-title"><%= @article.title %></h1>
  <h2><%= @article.description %></h2>
  <p><%= @article.content %></p>

  <ul>
    <% if @current_user.votes.where(reaction: 0, article: @article).first %>
      <%= link_to("Like",article_votes_path(@article, reaction: 0), method: :post)  %>
    <% else %>
      <%= link_to("Unlike",article_votes_path(@article, reaction: 0), method: :post)  %>
    <% end %>

    <% if @current_user.votes.where(reaction: 1, article: @article).first %>
      <%= link_to("Love",article_votes_path(@article, reaction: 1), method: :post)  %>
    <% else %>
      <%= link_to("Unlove",article_votes_path(@article, reaction: 1), method: :post)  %>
    <% end %>

    <% if @current_user.votes.where(reaction: 2, article: @article).first %>
      <%= link_to("Care",article_votes_path(@article, reaction: 2), method: :post)  %>
    <% else %>
      <%= link_to("Uncare",article_votes_path(@article, reaction: 2), method: :post)  %>
    <% end %>
  </ul>
  <ul>
    <%= link_to("Liste des articles", articles_path) %>
  </ul>
  <% if policy(@article).destroy? %>
    <%= link_to("delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }) %>
  <% end %>

  <%= simple_form_for [ @article, @comment ] do |f| %>
    <%= f.input :content, :label => 'Votre commentaire' %>
    <%= f.submit "Commenter", class: "btn purple white" %>
  <% end %>

  <ul class="list-group">
    <% @comments.each do |comment| %>
      <ul><%= comment.created_at.to_datetime.strftime("Printed on %m/%d/%Y") %> - <%= comment.content %> by <%= comment.user.username %>
        <% if policy(comment).destroy? %>
          <%= link_to("delete", article_comment_path(@article, comment), method: :delete, data: { confirm: "Are you sure?" }) %>
        <% end %>
      </ul>
    <% end %>
  </ul>

</div>
