<div class="photo-container">
</div>

<div class="container-smaller" id="articles-show">
  <div class="header-content">
    <h1 class="title-h1"><%= @article.title %></h1>
    <div class="container-icons d-flex">
      <div>
        <% if current_user.picture.attached? %>
          <%=  cl_image_tag current_user.picture.key, height: 50, width: 50 %>
          <%  else %>
          <%= image_tag('avatar.png', class: "avatar-mini") %>
        <% end %>
      </div>
      <div class="d-flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#902CB8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#902CB8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
      </div>
    </div>
  </div>

  <h2 class="title-h2"><%= @article.description %></h2>
  <p><%= @article.content %></p>

  <ul>
    <% if @current_user.votes.where(reaction: 0, article: @article).first %>
      <%= link_to("Like",article_votes_path(@article, reaction: 0), method: :post)  %>
    <% else %>
      <%= link_to("Unlike",article_votes_path(@article, reaction: 0), method: :post)  %>
    <% end %>

    <% if @current_user.votes.where(reaction: 1, article: @article).first %>
      <%= link_to("Love",article_votes_path(@article, reaction: 1), method: :post)  %>
    <% else %>
      <%= link_to("Unlove",article_votes_path(@article, reaction: 1), method: :post)  %>
    <% end %>

    <% if @current_user.votes.where(reaction: 2, article: @article).first %>
      <%= link_to("Care",article_votes_path(@article, reaction: 2), method: :post)  %>
    <% else %>
      <%= link_to("Uncare",article_votes_path(@article, reaction: 2), method: :post)  %>
    <% end %>
  </ul>

  <ul>
    <%= link_to "Ajouter en favori l'article",  create_fav_art_path(@article.id), method: :post  %>
  </ul>
  <ul>
    <%= link_to "Ajouter en favori le rédacteur",  create_fav_user_path(@article.id), method: :post  %>
  </ul>

  <% if policy(@article).destroy? %>
    <%= link_to("delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }) %>
  <% end %>

  <%= simple_form_for [ @article, @comment ] do |f| %>
    <%= f.input :content, :label => 'Votre commentaire' %>
    <%= f.submit "Commenter", class: "btn purple white" %>
  <% end %>

  <ul class="list-group">
    <% @comments.each do |comment| %>
      <ul><%= comment.created_at.to_datetime.strftime("Printed on %m/%d/%Y") %> - <%= comment.content %> by <%= comment.user.username %>
        <% if policy(comment).destroy? %>
          <%= link_to("delete", article_comment_path(@article, comment), method: :delete, data: { confirm: "Are you sure?" }) %>
        <% end %>
      </ul>
    <% end %>
  </ul>

</div>
