<div class="container-general" id="themes-index">
  <%= link_to "+ Thème", new_theme_path %>
  <h2 class="container-title"><span>Les Thèmes</span></h2>

  <% @themes.each do |theme| %>
    <div class="theme">
      <div class="theme_image">
        <%= image_tag "https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif"%>
      </div>
      <div class="theme_title title-white">
        <h3><%= theme.title %></h3>
        <p><%= theme.description %></p>
        <%= link_to "+Favorite",  create_fav_th_path(theme.id), method: :post  %>
        <%= link_to "Les articles", theme_articles_path(theme.id) %>
      </div>
    </div>
  <% end %>

</div>
