<div class="container-general" id="theme_show">

  <div class="theme">
    <div class="theme_image">
        <img src="
        <% if (@theme.picture.attached?) %>
          <%= cl_image_path(@theme.picture.key) %>
        <% else %>
          <%= image_path('frontlorem.jpg') %>
        <% end %>
          "/>
    </div>
    <div class="theme_title">
      <h4 class="purple-text"><%= @theme.title %></h4>
      <p><%= @theme.description %></p>
    </div>
  </div>
   <%= render partial: "shared/articles_med_list_col", locals: { articles: @articles, avatar_visible: true, scope: @scope_last} %>
   <%= render partial: "shared/modal_article_th_new", locals: { article: @article, themes_list: @theme } %>

</div>
