<div class="container-general" id="theme_show">

  <div class="theme">
    <div class="theme_image">
        <img src="
        <% if (@theme.picture.attached?) %>
          <%= cl_image_path(@theme.picture.key) %>
        <% else %>
          <%= image_path('frontlorem.jpg') %>
        <% end %>
          "/>
    </div>
    <div class="theme_title">
      <h4 class="purple-text"><%= @theme.title %></h4>
      <p><%= @theme.description %></p>
      <%= link_to "+ Article", new_article_path %>
    </div>
  </div>
</div>
