<div class="container-general" id="themes-index">
  <h1 class="container-title"><span>Thème</span></h2>

  <div class="theme">
    <div class="theme_image">
        <img src="
        <% if (@theme.picture.attached?) %>
          <%= cl_image_path(@theme.picture.key) %>
        <% else %>
          <%= image_path('https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif') %>
        <% end %>
          "/>
    </div>
    <div class="theme_title title-white">
      <h3><%= @theme.title %></h3>
      <p><%= @theme.description %></p>
      <%= link_to "+ Article", new_article_path %>
    </div>
  </div>
</div>
