<%= csrf_meta_tags %>
<div class="modal fade" id="modal_article" tabindex="-1" aria-labelledby="modal_articleLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_articleLabel">Ce que je veux partager</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="my-modal-body">
        <%= simple_form_for article, url: articles_path, method: :post do |f| %>
          <%= f.input :title, label: "Titre" %>
          <%= f.association :theme, label: "Thème", input_html: { id: 'mySelect', data: { controller: 'select2'}} %>
          <%= f.input :content, label: "Message", placeholder: "ce que vous voulez partager..." %>
           <div class="button-div">
              <label for="file-input">
              <%= f.input :picture, input_html: { style: 'display: none;' }, as: :file %>
              </label>
              <%= f.submit  "OK",  class: "modal-submit" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
