<div class="my-navbar">
  <div class="navbar-cover">
  </div>
    <%= link_to root_path do %>
      <%= image_tag "btn-home-home.svg", class: "home-logo" %>
    <% end %>
    <%= link_to root_path do %>
      <%= image_tag "btn-home-discover.svg", class: "discover-logo" %>
    <% end %>
    <%= link_to root_path do %>
      <%= image_tag "btn-home-create.svg", class: "create-logo" %>
    <% end %>
    <%= image_tag "btn-home-favorite.svg", class: "favorite-logo" %>
    <%= image_tag "btn-home-user.svg", class: "me-logo activated-logo" %>
  <div class="mon_menu">
    <ul>
     <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to 'Profil', dashboard_path, class:"padding-before" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Articles', articles_path, class: "dropdown-item" %>
            </li>
            <li class="nav-item">
            <%= link_to 'Themes', themes_path, class: "dropdown-item" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
     <% end %>
    </ul>
  </div>
</div>
