<div class="container-general">
  <div class="container" id="users_show">
    <div class="row">
    <% if current_user.picture.attached? %>
      <%= cl_image_tag current_user.picture.key, class: "avatar-big", alt: "avatar-large"%>
    <% end %>
    </div>
    <div class="row">
      <div class="pl-5">
        <%= current_user.username %>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="row ml-1">
        <%= link_to "Thèmes Favoris", favorites_th_path%>
      </div>
      <% @themes.each do |theme| %>
        <%= theme.favoritable.title %>
      <% end %>
    </div>
    <div class="col">
      <% @articles.each do |article| %>
      <%= article.favoritable.title %>
      <% end %>
      <%= link_to "Articles Favoris", favorites_art_path%>
    </div>
    <div class="col">
      <% @follow_users.each do |follow_user| %>
      <%= follow_user.favoritable.title %>
      <% end %>
      <%= link_to "Users Favoris", favorites_art_path%>
    </div>
  </div>
</div>
