<div id="page-dashboard" class="container-general">
  <div class="spacer">
  </div>
  <%= render partial: "shared/user_profile", locals: { user: @user_profile, follow_users_nb: @follow_users_nb, follower_users_nb: @follower_users_nb, likes: @likes, star: false } %>
  <%= render partial: "shared/users_list", locals: { users: @users, scope: @scope, add_arrow: false} %>
  <div class="cards-favorites">
    <div class="favorites-th-art">
      <%= render partial: "shared/micro_theme_list", locals: { themes: @themes, scope: @scope, add_arrow: false } %>
      <%= render partial: "shared/articles_list", locals: { articles: @articles, scope: @scope, add_arrow: false} %>
    </div>
  </div>
  <%= render partial: "shared/modal_article_new", locals: { article: @article } %>
</div>
