<div id="page-dashboard" class="container-general">
    <div class="spacer">
    </div>
    <div class="card-profile">
      <div class="profile-background">
        <% if current_user.picture.attached? %>
        <%=  cl_image_tag current_user.picture.key, class: "mon-avatar", alt: "avatar-large" %>
        <%  else %>
        <%= image_tag('avatar.png') %>
        <% end %>
        <%= link_to image_tag('details-light.svg'), edit_user_registration_path, class: 'btn-details' %>
      </div>
      <div class="profile-description">
        <h3><%= current_user.username %></h3>
        <p><%= current_user.state.text %></p>
      </div>
    </div>
    <div class="biography">
      <p>
        <%= image_tag 'feather.svg', class: 'feather' %>
        <%= current_user.biography %>
      </p>
    </div>
    <div class="cards-favorites">
      <div class="favorites-users">
          <% @follow_users.each do |follow_user| %>
          <div class="mini-user">
          <%= follow_user.favoritable.title %>
          </div>
          <% end %>
          <%= link_to "Users Favoris", favorites_art_path%>
      </div>
      <div class="favorites-th-art">
        <div class="favorites-title">
          Mes autres favoris
        </div>
        <div class="themes-list">
          <% @themes.each do |theme| %>
          <div class="mini-theme">
            <%= theme.favoritable.title %>
          </div>
          <% end %>
          <%= link_to "Thèmes Favoris", favorites_th_path%>
        </div>
        <div class="articles-list">
          <% @articles.each do |article| %>
          <div class="mini-articles">
          <%= article.favoritable.title %>
          </div>
          <% end %>
          <%= link_to "Articles Favoris", favorites_art_path%>
        </div>
      </div>
    </div>
</div>
