<div id="page-wall" class="container-general">
    <div class="spacer">
    </div>
    <div class="search-bar">
      <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "découvrir..."
        %>
      <%= submit_tag "chercher", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="cards-favorites">
      <div class="favorites-th-art">
        <div class="favorites-title">
           <%= image_tag('bookmark-alone-purple.svg') %><span>Thèmes Tendance</span>
        </div>
        <div class="micro-themes-list">
            <% @themes.each do |favorite| %>
            <a href="<%= theme_path(favorite.favoritable_id) %>">
            <div class="micro-theme-card" style="background: url(
              <% if (favorite.favoritable.picture.attached?) %>
                  <%= cl_image_path(favorite.favoritable.picture.key) %>
                <% else %>
                  <%= image_path('frontlorem.jpg') %>
                <% end %>
                  ), #F4EAF8; background-repeat: no-repeat; background-size: 80% 4rem; background-position: 50% 10%;">
              <span><%= favorite.favoritable.title %></span>
              <div class="counter">
                <%= image_tag('eye.svg') %>
                <%= Favorite.where(favoritable_id: favorite.favoritable.id).count %>
              </div>
            </div>
            </a>
             <% end %>
             <%= link_to image_tag('details-purple.svg', class: 'details-th'), favorites_th_path %>
        </div>
             <div class="favorites-users">
        <div class="user-favorites-title">
          <%= image_tag('heart.svg') %><span>Personnes Tendances</span>
        </div>
        <div class="mini-user-list mini-user-no-border">
        <% @list_users.each do |one_user| %>
          <div class="mini-user">
            <% if (one_user.picture.attached?) %>
            <%= cl_image_tag(one_user.picture.key, class: 'avatar-large') %>
              <% else %>
            <%= image_tag('avatar.png', class: 'avatar-large') %>
            <% end %>
            <span class="mini-user-name"><%= one_user.username %></span>
          </div>
          <% end %>
        </div>
    </div>
        <div class="articles-list">
            <div class="user-favorites-title">
          <%= image_tag('heart.svg') %><span>Personnes Tendances</span>
        </div>
          <% @articles.each do |article| %>
          <a href="<%= article_path(article.favoritable_id) %>">
          <div class="mini-articles-card">
              <div class="art-description">
                <span class="art-title"><%= article.favoritable.title %></span>
                <div class="art-th-description">
                  <span class="art-theme"><%= article.favoritable.theme.title %></span>
                  <%= link_to image_tag('ellipse.svg', class: 'ellipse-th') %>
                  <span class="art-created">Il y a <%= TimeDifference.between(article.favoritable.updated_at, Time.now).in_days.round %> jours</span>
                </div>
              </div>
              <% if (article.favoritable.picture.attached?) %>
                <%= cl_image_tag(article.favoritable.picture.key, class: 'mini-article-img') %>
              <% else %>
                <%= image_tag('avatar.png', class: 'mini-article-img') %>
              <% end %>
          </div>
          </a>
          <% end %>
          <%= link_to "Articles Favoris", favorites_art_path%>
        </div>
      </div>
    </div>



</div>
